<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514604133282-cocq5448hsahaeh3doi62in4a0lmgko0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514604133282-cocq5448hsahaeh3doi62in4a0lmgko0</string>
	<key>API_KEY</key>
	<string>AIzaSyBPBfAobeJ4BgJnpOKTwNd2i7XsIrfJBK8</string>
	<key>GCM_SENDER_ID</key>
	<string>514604133282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.multdeviceProjectKushagra</string>
	<key>PROJECT_ID</key>
	<string>multdeviceprojectkushagra</string>
	<key>STORAGE_BUCKET</key>
	<string>multdeviceprojectkushagra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514604133282:ios:2602e4dcfab9115093e0fb</string>
</dict>
</plist>